@import "../../App.scss";

.message {
  position: relative;
  display: flex;
  align-items: end;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  cursor: pointer;
  flex-shrink: 0;
}

.messageData {
  font-size: 17px;
  max-width: 320px;
  min-width: 120px;
  min-height: 30px;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
}

.messageReply {
  font-size: 15px;
  border-left: 2px solid $blue;
  margin-bottom: 5px;
}

.messageReplyDisplayName {
  margin-left: 5px;
}

.messageReplyText {
  margin-left: 5px;
  font-size: 14px;
}

.nickname {
  cursor: pointer;
  margin-bottom: 3px;
}

.text {
  font-size: 16px;
}

.metaData {
  font-size: 13px;
  text-align: right;
}

//my message
.myMessage {
  position: relative;
  display: flex;
  align-items: end;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.myAvatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  flex-shrink: 0;
}

.myMessageData {
  color: white;
  max-width: 320px;
  min-width: 120px;
  min-height: 30px;
  margin-left: 10px;
  background-color: $blue;
  border-radius: 5px;
  padding: 7px;
}

.myMessageReply {
  font-size: 15px;
  border-left: 2px solid white;
  margin-bottom: 5px;
}

.myMessageReplyDisplayName {
  margin-left: 5px;
}

.myMessageReplyText {
  margin-left: 5px;
  font-size: 14px;
}

.myNickname {
  margin-bottom: 8px;
}

.myText {
  font-size: 16px;
}

.myMetaData {
  font-size: 13px;
  text-align: right;
}

