@import "../../App.scss";

.message {
  position: relative;
  display: flex;
  align-items: end;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;

  &:first-child {
    margin-bottom: 10px;
  }
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  cursor: pointer;
  flex-shrink: 0;
  object-fit: cover;
}

.messageData {
  font-size: 17px;
  max-width: 400px;
  min-width: 120px;
  min-height: 30px;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
}

.messageReply {
  font-size: 15px;
  border-left: 2px solid $blue;
  margin-bottom: 5px;
}

.messageReplyDisplayName {
  margin-left: 5px;
}

.messageReplyText {
  max-width: 200px;
  height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  font-size: 14px;
}

.nickname {
  cursor: pointer;
  margin-bottom: 3px;
}

.text {
  font-size: 16px;
  word-wrap: break-word;
}

.metaData {
  font-size: 13px;
  text-align: right;
}

//my message
.myMessage {
  position: relative;
  display: flex;
  align-items: end;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;

  &:first-child {
    margin-bottom: 10px;
  }
}

.myAvatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}

.myMessageData {
  color: white;
  max-width: 400px;
  min-width: 120px;
  min-height: 30px;
  margin-left: 10px;
  background-color: $blue;
  border-radius: 5px;
  padding: 7px;
}

.messageAttachmentListOneAttachment {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  gap: 2px;
  grid-template-columns: auto;
  grid-template-rows: 420px;
  grid-template-areas:
    "block-1";
}

.messageAttachmentListTwoAttachment {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  gap: 2px;
  grid-template-columns: auto;
  grid-template-rows: 300px;
  grid-template-areas:
    "block-1 block-2";
}

.messageAttachmentListThreeAttachment {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  gap: 2px;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: 300px 130px;
  grid-template-areas:
    "block-1 block-1"
    "block-2 block-3";
}

.messageAttachmentListFourAttachment {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  gap: 2px;
  grid-template-columns: 1fr 110px;
  grid-template-rows: repeat(3, 130px);
  grid-template-areas:
    "block-1 block-2"
    "block-1 block-3"
    "block-1 block-4";
}

.messageAttachment {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.messageAttachment:nth-child(1) {
  grid-area: block-1;
}

.messageAttachment:nth-child(2) {
  grid-area: block-2;
}

.messageAttachment:nth-child(3) {
  grid-area: block-3;
}

.messageAttachment:nth-child(4) {
  grid-area: block-4;
}

.myMessageReply {
  font-size: 15px;
  border-left: 2px solid white;
  margin-bottom: 5px;
}

.myMessageReplyDisplayName {
  margin-left: 5px;
}

.myMessageReplyText {
  max-width: 200px;
  height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  font-size: 14px;
}

.myNickname {
  margin-bottom: 8px;
}

.myText {
  font-size: 16px;
  word-wrap: break-word;
}

.myMetaData {
  font-size: 13px;
  text-align: right;
}

.clockSvg {}