@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
  font-family: 'Arimo', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

$light-grey-border: rgb(185, 185, 185);
$grey-font-page:rgb(56, 56, 56);
$light-grey-font-page:rgb(150, 150, 150);
$light-grey: #efefef;
$light-grey-for-session-item: rgb(92, 90, 90);

$grey: #dbdbdb;
$greyHover: #c4c3c3;

$light-blue: rgba(0, 84, 209, 0.150);

$blue: #0984f9;
$blueHover: #0476e0;

$darkBlue: #0067c7;
$darkBlueHover: #005bb1;

$red: rgb(255, 83, 52);
$redHover: rgb(228, 68, 39);

$black: rgb(36, 36, 36);
$blackTransparent: rgba(0, 0, 0, 0.082);

$green: rgb(36, 192, 36);
$greenHover: rgb(42, 182, 42);

$purple: #8c00ff;
$purpleHover: #7e03e2;

$purple-transparent-button: #9533e694;
$purple-transparent-button-hover: #9533e6b7;

$pink-transparent: rgba(243, 237, 245, 0.781);

$blue-transparent-for-session-item: rgb(174, 180, 243);