* {
  font-family: "Arial", sans-serif;
}

$color-dark-gray: #222328;
$color-blue: #4c88ff;
$color-blue-hover: #3875ee;
$green: #00a065;
$green-hover: #018353;

.black-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.788);
}

.login {
  display: flex;
  width: 100%;
  height: 100vh;

  &__background {
    background-color: $color-dark-gray;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  &__form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &__input_nickname {
    width: 100%;
    height: 35px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  &__input_password {
    width: 100%;
    height: 35px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  &__button_log-in {
    width: 100%;
    height: 32px;
    margin: auto;
    border: none;
    color: white;
    background-color: $color-blue;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: $color-blue-hover;
    }
  }
}

.registration {
  display: flex;
  width: 100%;
  height: 100vh;

  &__background {
    background-color: $color-dark-gray;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  &__form {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;

    &__page {
      color: white;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;

      &__link {
        color: $color-blue;
      }
    }
  }

  &__input_displayname {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 35px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  &__input_nickname {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 35px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  &__input_password {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 35px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  &__button_log-in {
    width: 100%;
    max-width: 600px;
    height: 32px;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    color: white;
    background-color: $color-blue;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: $color-blue-hover;
    }
  }
}

.layout {
  display: grid;
  grid-template-areas: "chatsbar chat";
  grid-template-columns: 340px 1fr;

  &__background {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: $color-dark-gray;
    z-index: -1;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.chatsbar {
  font-family: "Arial", sans-serif;
  grid-area: "chatsbar";
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #2c2d35;

  &__header {
    width: 100%;
    height: 80px;
    display: flex;
    color: white;
    background-color: #252527;

    // &__name {
    //     margin-top: 20px;
    //     margin-bottom: 20px;
    //     text-align: center;
    // }

    &__input {
      width: 95%;
      height: 40px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      padding-left: 10px;
      display: block;
      margin: auto;
      outline: none;
    }
  }

  &__chatlist {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  &__chatlist-item {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
    color: white;
    display: grid;
    grid-template-areas: "avatar chatsListItemData";
    grid-template-columns: 70px;
    cursor: pointer;

    &__avatar {
      width: 50px;
      height: 50px;
      margin-top: 8px;
      margin-left: 10px;
      display: block;
      grid-area: "avatar";
      border-radius: 100%;
    }

    &__data {
      grid-area: "chatsListItemData";
      position: relative;
      margin-top: 8px;

      &__chat-name {
        width: 100%;
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 12px;
      }

      &__last-message {
        width: 100%;
        height: 50px;
        font-size: 14px;
      }

      &__last-message-date-time {
        font-size: 14px;
        position: absolute;
        right: 10px;
        top: 2px;
      }
    }

    &:hover {
      background-color: #2223286e;
    }
  }

  &__button-profile {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    background-color: $color-blue;
    left: 10px;
    bottom: 15px;
    cursor: pointer;
    transition: 0.2s;

    &__profile-svg {
      margin-top: 2px;
      margin-left: 3px;
    }

    &:hover {
      background-color: $color-blue-hover;
    }
  }

  &__button-create-chat {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    background-color: $color-blue;
    right: 10px;
    bottom: 15px;
    cursor: pointer;
    transition: 0.2s;

    &__line1 {
      position: absolute;
      width: 2px;
      height: 18px;
      top: 9px;
      left: 17px;
      background-color: white;
      transform: rotate(90deg);
    }

    &__line2 {
      position: absolute;
      width: 2px;
      height: 18px;
      background-color: white;
      top: 9px;
      left: 17px;
    }

    &:hover {
      background-color: $color-blue-hover;
    }
  }
}

.chat {
  grid-area: "chatlist";
  width: 100%;
  height: 100vh;
  background-color: $color-dark-gray;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Arial", sans-serif;

  &__select-сhat {
    display: inline-block;
    text-align: center;
    margin: auto;
    font-size: 20px;
  }

  &__header {
    display: grid;
    width: 100%;
    height: 90px;
    background-color: #2c2d35;
    grid-template-areas: "avatar chatData";
    grid-template-columns: 130px;
    position: relative;

    &__avatar {
      width: 70px;
      height: 70px;
      border-radius: 100px;
      grid-area: "avatar";
      margin: auto;
      cursor: pointer;
    }

    &__chat-data {
      grid-area: "chatData";
      margin-top: 20px;

      &__title {
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
      }

      &__count-members {
        font-size: 14px;
      }
    }

    &__button-menu {
      position: absolute;
      width: 35px;
      height: 35px;
      right: 20px;
      top: 22px;
      border-radius: 100%;
      cursor: pointer;
      transition: 0.2s;

      &__dot1 {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      &__dot2 {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #ffffff;
        margin: 0 auto;
        margin-bottom: 5px;
      }

      &__dot3 {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #ffffff;
        margin: 0 auto;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.144);
      }
    }
  }

  &__messages {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;

    &__banned {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &__my-message {
      display: flex;
      border-radius: 5px;
      margin-top: 10px;
      margin-left: 10px;

      &:last-child {
        margin-bottom: 10px;
      }

      &__avatar {
        width: 45px;
        height: 45px;
        border-radius: 100%;
      }

      &__message-data {
        max-width: 320px;
        min-width: 120px;
        min-height: 30px;
        margin-left: 10px;
        background-color: $color-blue;
        border-radius: 5px;
        padding: 7px;

        &__meta-data {
          font-size: 13px;
          text-align: right;
        }
      }
    }

    &__message {
      display: flex;
      border-radius: 5px;
      margin-top: 10px;
      margin-left: 10px;

      &:last-child {
        margin-bottom: 10px;
      }

      &__avatar {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        cursor: pointer;
      }

      &__message-data {
        color: rgba(255, 255, 255, 0.897);
        max-width: 320px;
        min-width: 120px;
        min-height: 30px;
        margin-left: 10px;
        background-color: #29292e;
        border-radius: 5px;
        padding: 7px;

        &__nickname {
          color: $color-blue;
          margin-bottom: 8px;
        }

        &__meta-data {
          font-size: 13px;
          text-align: right;
        }
      }
    }
  }

  &__footer {
    display: flex;

    &__textarea {
      width: 100%;
      height: 40px;
      padding: 10px;
      margin: 0 auto;
      outline: none;
      resize: none;
      background-color: #cfcfcfda;
      border: none;
      border-radius: 5px;
    }

    &__send-message-svg {
      margin: auto;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
    }

    &__join-button {
      width: 100%;
      height: 40px;
      background-color: $color-blue;
      border: none;
      border-top: 4px solid $color-blue-hover;
      font-size: 16px;
      color: white;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: $color-blue-hover;
      }
    }
  }
}

.profile {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 500px;
  height: 680px;
  border-radius: 10px;
  background-color: $color-dark-gray;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);

  &__comfirm-change-data {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #00b673;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }

  &__rubbish-bin {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__display-name {
    width: 200px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    background-color: inherit;
    border: none;
    outline: none;
    margin-bottom: 5px;
    font-size: 18px;
    transition: .2s;

    &:focus {
      background-color: #00000031; 
    }
  }

  &__nickname {
    width: 200px;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    
    &:focus {
      background-color: #00000030; 
    }
  }

  &__bio {
    width: 200px;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 10px;

     &:focus {
      background-color: #00000030; 
    }
  }

  &__change-account-data {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: $green;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    transition: 0.2s;

    &:hover {
      background-color: $green-hover;
    }
  }

  &__delete-account {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgb(255, 11, 145);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(206, 0, 113);
    }
  }

  &__start-dialog {
    width: 130px;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: $color-blue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;

    &:hover {
      background-color: $color-blue-hover;
    }
  }

  &__session-list {
    width: 430px;
    height: 380px;
    margin: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    &__session-item {
      position: relative;
      width: 100%;
      min-height: 60px;
      max-height: 100%;
      border-radius: 10px;
      background-color: #191a1f;
      margin-bottom: 5px;
      padding: 5px;

      &__close-cross {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }

      p {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.chat-creater {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  width: 500px;
  height: 680px;
  border-radius: 10px;
  background-color: $color-dark-gray;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);

  &__file-input-label {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    background-color: $color-blue;
    text-align: center;
    cursor: pointer;
    line-height: 200px;
    margin-bottom: 20px;
  }

  &__file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__title-input {
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
  }

  &__name-input {
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
  }

  &__chat-type-select {
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 10px;
    outline: none;
  }

  &__create-chat-button {
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $color-blue;
    color: white;
  }
}

.chat-info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 500px;
  height: 680px;
  border-radius: 10px;
  background-color: $color-dark-gray;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__chat-title {
    width: 200px;
    margin: 0 auto;
    color: white;
    text-align: center;
    background-color: inherit;
    border: none;
    outline: none;
    margin-bottom: 5px;
    font-size: 18px;
  }

  &__chat-name {
    width: 200px;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 10px;
  }

  &__update-button {
    width: 250px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: $green;
    transition: 0.2s;

    &:hover {
      background-color: $green-hover;
    }
  }

  &__leave-button {
    width: 250px;
    height: 35px;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 11, 145);
    margin-bottom: 15px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(206, 0, 113);
    }
  }

  &__delete-dialog-button {
    width: 250px;
    height: 35px;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 11, 145);
    margin-bottom: 15px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(206, 0, 113);
    }
  }

  &__user-list {
    width: 470px;
    height: 320px;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-width: none;

    &__item {
      width: 400px;
      height: 60px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: #1d1e24;
      display: grid;
      grid-template-areas: "avatar userData";
      grid-template-columns: 70px;
      margin-bottom: 5px;

      &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        grid-area: "avatar";
        margin: auto 0;
        margin-left: 10px;
      }

      &__user-date {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        grid-area: "userData";
        margin-top: 10px;

        &__display-name {
          margin-bottom: 5px;
        }

        &__nickname {
          font-size: 14px;
        }
      }
    }
  }
}

.confirm-delete-dialog {
  width: 300px;
  height: 100px;
  background-color: #1e1e20;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 5;

  &__checkbox-and-text {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;

    &__checkbox {
      outline: none;
    }
  }

  &__delete-dialog-button {
    width: 180px;
    height: 30px;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 11, 145);
    margin-bottom: 15px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(206, 0, 113);
    }
  }
}

.chat-burger-menu {
  width: 140px;
  background-color: #30323b;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 4;
  display: flex;
  flex-direction: column;

  button {
    border: none;
    width: 100%;
    height: 30px;
    background-color: #30323b;
    cursor: pointer;

    &:hover {
      background-color: rgb(41, 42, 51)
    }
  }

  &__view-chat-info-button {
    color: white;
  }

  &__delete-button {
    color: red
  }

  &__leave-button {
    color: red
  }
}
