@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
  font-family: 'Arimo', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

$light-grey-border: rgb(185, 185, 185);
$grey-font-page:rgb(56, 56, 56);
$light-grey-font-page:rgb(150, 150, 150);
$light-grey: #efefef;

$grey: #dbdbdb;
$greyHover: #c4c3c3;

$blue: #0984f9;
$blueHover: #0476e0;

$darkBlue: #0067c7;
$darkBlueHover: #005bb1;

$red: rgb(255, 83, 52);
$redHover: rgb(228, 68, 39);

$black: rgb(36, 36, 36);
$blackTransparent: rgba(0, 0, 0, 0.082);

$green: rgb(36, 192, 36);
$greenHover: rgb(42, 182, 42);

$purple: #8c00ff;
$purpleHover: #7e03e2;
