@import "../../App.scss"; 

.createChat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.createChatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 470px;
  margin: auto;
}

.avatarContainer {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 5px;
}

.avatarBlackCover {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: $blackTransparent;
  }
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
}

.avatarInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputTitle {
  width: 98%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 22px;
  color: $grey-font-page;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid $light-grey-border;
  margin-bottom: 15px;
}

.inputName {
  width: 98%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 22px;
  color: $grey-font-page;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid $light-grey-border;
  margin-bottom: 15px;
}

.chooseChatTypeSelect {
  width: 98%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 22px;
  color: $grey-font-page;
  text-align: center;
  margin: 0 auto;
  background-color: inherit;
  border-bottom: 1px solid $light-grey-border;
  margin-bottom: 15px;
}

.CreateChatButton {
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  background-color: inherit;
  color: $blue;
  border-radius: 5px;
  cursor: pointer;
  transition: .1s;

  &:hover {
    color: $blueHover;
  }
}